<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
     Top
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="movies">
      <ion-col size="6" *ngFor="let movie of movies">
        <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" />
        <p class="title">{{ movie.title }}</p>
          <div class="double">
            <p class="year">{{ movie.release_date | date:'yyyy' }}</p>
            <ion-icon name="star" class="star"></ion-icon><p class="note">{{ movie.vote_average }}</p>  
          </div>
      </ion-col>      
    </ion-row>
  </ion-grid>  
</ion-content>
